@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

.h{
    font-size: 0.8in;
    text-align: center;
}

.nav{
    display: flex;
    background-color: aliceblue;
}

.navb{
    background-color: aliceblue;
    border: none;
    padding: 20px;
    flex: 1;
    cursor: pointer;
}

.navb::after{
    content: '';
    display: block;
    background-color: black;
    height: 3px;
    width: 0;
    transition: 0.3s;
}

.navb:hover::after{
    width: 100%;
}

.navb:hover{
    background-color: rgb(196, 243, 255);
}

.navl{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Poppins',sans-serif;
}

.txt{
    width: 51%;
    margin-left: 50px;
}
.im{
    display: flex;
    width: 50%;
    position: relative;
    top: 30px;
}
.i, .i0{
    height: 200px;
    border-radius: 50px;
    border: 3px solid rgb(80, 80, 80);
}

.i0{
    position: relative;
    left: -250px;
    top: 100px;
}

.txt01{
    font-size: 60px;
    text-align: center;
}
.prc{
    display: flex;
    justify-content: space-evenly;
    height: 450px;
}

.b{
    background-color: rgba(0, 0, 0, 0.253);
    border-radius: 50px;
    width: 30%;
    text-align: center;
}

.p0{
    text-align: left;
    margin-left: 25%;
}

.get{
    border: none;
    padding: 15px;
    width: 50%;
    border-radius: 50px;
    background-color: rgb(25, 197, 255);
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.get:hover{
    background-color: rgb(0, 191, 255);
    transform: translateY(-10px);
}

.get:active{
    background-color: rgb(0, 153, 173);
}

::selection{
    background-color: rgb(122, 255, 255);
    color: black;
}


#about{
    display: flex;
}

#home{
    display: block;
}

#contact{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.logo{
    height: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.logo:hover{
    transform: translateY(-10px);
}

.txt02{
    text-align: center;
    font-size: 0.5in;
}

.hh{
    font-size: 35px;
}




/* Mobile Screens*/




@media screen and (max-width: 480px){
    body{
        margin: 0;
        font-family: 'Poppins', sans-serif;
        background-color: rgb(255, 255, 255);
    }
    
    html{
        scroll-behavior: smooth;
    }
    
    .h{
        font-size: 0.4in;
        text-align: center;
    }
    
    .nav{
        display: flex;
        background-color: aliceblue;
    }
    
    .navb{
        background-color: aliceblue;
        border: none;
        padding: 15px;
        flex: 1;
        cursor: pointer;
    }

    .navb:active{
        background-color: rgb(114, 189, 255);
    }
    
    .navb::after{
        content: '';
        display: block;
        background-color: black;
        height: 3px;
        width: 0;
        transition: 0.3s;
    }
    
    .navb:hover::after{
        width: 100%;
    }
    
    .navb:hover{
        background-color: rgb(196, 243, 255);
    }
    
    .navl{
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-family: 'Poppins',sans-serif;
    }
    
    .txt{
        width: 80%;
        margin-left: 50px;
    }
    .im{
        display: flex;
        position: relative;
        top: 30px;
        left: 50px;
    }
    .i, .i0{
        height: 150px;
        width: 200px;
        border-radius: 50px;
        border: 3px solid rgb(80, 80, 80);
    }
    
    .i0{
        position: relative;
        left: -250px;
        top: 100px;
    }
    
    .txt01{
        font-size: 60px;
        text-align: center;
    }
    .prc{
        display: flex;
        justify-content: space-evenly;
        height: 400px;
    }
    
    .b{
        background-color: rgba(0, 0, 0, 0.253);
        border-radius: 50px;
        width: 30%;
        text-align: center;
    }
    
    .p0{
        text-align: left;
        margin-left: 25%;
        font-size: 15px;
    }
    
    .get{
        border: none;
        padding: 15px;
        width: 80%;
        border-radius: 50px;
        background-color: rgb(25, 197, 255);
        color: white;
        font-family: 'Poppins',sans-serif;
        font-size: 15px;
        cursor: pointer;
        transition: 0.2s;
    }
    
    .get:hover{
        background-color: rgb(0, 191, 255);
        transform: translateY(-10px);
    }
    
    .get:active{
        background-color: rgb(0, 153, 173);
    }
    
    ::selection{
        background-color: rgb(122, 255, 255);
        color: black;
    }
    
    
    #about{
        display: flex;
    }
    
    #home{
        display: block;
    }
    
    #contact{
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
    }
    
    .logo{
        height: 50px;
        transition: 0.3s;
        cursor: pointer;
    }
    
    .logo:hover{
        transform: translateY(-10px);
    }
    
    .txt02{
        text-align: center;
        font-size: 0.5in;
    }
    
    .hh{
        font-size: 25px;
    }
}
